[user]
	name = Stefan Jenkner
	email = stefan@jenkner.org
[core]
	autocrlf = input
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = upstream
[init]
	templatedir = ~/.git-templates
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
