[user]
	name = Stefan Jenkner
	email = stefan@jenkner.org
[core]
	autocrlf = input
	precomposeunicode = true
	quotepath = false
	editor = vim
[push]
	default = simple
[init]
	templatedir = ~/.git-templates
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
