[user]
	name = Stefan Jenkner
	email = stefan@jenkner.org
[core]
	autocrlf = input
	precomposeunicode = true
	quotepath = false
[push]
	default = simple
[init]
	templatedir = ~/.git-templates
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
